body {
    margin: 0;
    color: #a50005;
    font-family: Monospace;
    background-image: url(assets/dot-paper.png)
}

div {
    background-color: #3f3f3f;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid;
    border-color: #a50005;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    padding: 10px;
    font-size: 20px;
    text-align: center
}

.top {
    margin-top: 0px;
    border-top : 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px
}

.mid {
    margin-top: 15px
}

#game-bar {
    margin-bottom: 8px;
    height: 20
}

input {
    color: #a50005;
    font-family: Monospace;
    font-size: 20px;
    text-align: center;
    background-image: url(assets/dot-paper.png);
    height: 40px;
    border-style: solid;
    border-color: #a50005;
    border-width: 2px;
    border-radius: 5px
}

img:hover {
    cursor: not-allowed
}

p:hover {
    cursor: pointer
}

span:hover {
    cursor: progress
}
